# Data Collection

In [73]:
import praw
import pandas as pd

### Initialize PRAW

In [74]:
reddit = praw.Reddit(
    client_id='N_L2FO3oMD5rWldwIKechw',
    client_secret='uphtK-KFajEZ8YtkdF0JYy9RLqvsNw',
    user_agent='HouseplantCommentRetriever_1.0_by_/u/recycledontlitterpls',
    username='recycledontlitterpls',
    password='Thisisareallysecurepassword42'
)

### Initialize Data Lists

In [75]:
data_1 = []

In [76]:
data_2 = []

### Collection

In [147]:
subreddit_1 = reddit.subreddit('houseplants')
posts_1 = subreddit_1.top(time_filter='all', limit=4000)

In [148]:
subreddit_2 = reddit.subreddit('gardening')
posts_2 = subreddit_2.top(time_filter='all', limit=4000)

### Dataframe Creation

In [149]:
for post in posts_1:
    data_1.append([post.id, post.created_utc, post.title, post.selftext, post.num_comments, post.score, post.upvote_ratio, post.subreddit])

# Turn into a dataframe
houseplants = pd.DataFrame(data_1, columns = ['id', 'created_utc', 'title', 'self_text', 'comments', 'score', 'upvote_ratio', 'subreddit'])
houseplants.head()

,id,created_utc,title,self_text,comments,score,upvote_ratio,subreddit
0,uw3f46,1.653321e+09,I feel attacked.,,793,63651,0.94,houseplants
1,v4z9xu,1.654380e+09,The liberals are trying to make my plants gay!!,,1281,54217,0.82,houseplants
2,q0hqvn,1.633268e+09,This was supposed to be a plant progress post ...,,572,45198,0.96,houseplants
3,i5rplr,1.596855e+09,My grandpa made me a plant stand ðŸ’–,,451,40218,0.96,houseplants
4,lkjvss,1.613414e+09,I let my Golden Pothos get outta hand for just...,,593,39723,0.98,houseplants

In [150]:
for post in posts_2:
    data_2.append([post.id, post.created_utc, post.title, post.selftext, post.num_comments, post.score, post.upvote_ratio, post.subreddit])

# Turn into a dataframe
gardening = pd.DataFrame(data_2, columns = ['id', 'created_utc', 'title', 'self_text', 'comments', 'score', 'upvote_ratio', 'subreddit'])
gardening.head()

,id,created_utc,title,self_text,comments,score,upvote_ratio,subreddit
0,7eksjh,1.511295e+09,Join the Battle for Net Neutrality! Don't let ...,,460,76139,0.87,gardening
1,7ojhzl,1.515249e+09,Dragon fruits on my rooftop garden,,1202,52741,0.94,gardening
2,6xg9g5,1.504289e+09,"My grandpa says we ""need to get the word out"" ...",,947,46569,0.93,gardening
3,8lbiol,1.527008e+09,I'm having trouble identifying this plant,,358,32472,0.92,gardening
4,8vkf9g,1.530552e+09,I used to sit in the desert of Afghanistan eat...,,741,32425,0.87,gardening

In [151]:
houseplants.tail()

,id,created_utc,title,self_text,comments,score,upvote_ratio,subreddit
6225,17a79pp,1.697573e+09,ðŸª´ ðŸ’š,,1,5,1.00,houseplants
6226,179wm7d,1.697544e+09,I just won the trifecta of pests.. I ordered s...,,1,21,1.00,houseplants
6227,179xuwg,1.697548e+09,What I Do In My Spare Time,,0,16,0.91,houseplants
6228,179au5c,1.697476e+09,My Family of Maturing Pothos,,41,639,1.00,houseplants
6229,179eawd,1.697484e+09,The ultimate curb find.,I happened to look out my window at the perfec...,16,392,0.99,houseplants

In [152]:
gardening.tail()

,id,created_utc,title,self_text,comments,score,upvote_ratio,subreddit
5817,17a3uhx,1.697564e+09,First time growing potatoes!,"Used a few old russets, chopped em up and spli...",1,12,1.00,gardening
5818,179fyvb,1.697488e+09,Bought a pack of wildflower seeds. I canâ€™t get...,,40,450,0.99,gardening
5819,179hetn,1.697492e+09,What type of squash is this and how do you kno...,I just moved into this house and noticed this ...,37,360,0.98,gardening
5820,17a0m64,1.697556e+09,Fall flowers,"Hydrangea, zinnias, and cosmos fading into Oct...",0,13,0.89,gardening
5821,17a258s,1.697560e+09,Potato saving - 2 months time,Here our first harvest of potatoes in the West...,2,8,0.85,gardening

In [153]:
houseplants.shape

(6230, 8)

In [154]:
gardening.shape

(5822, 8)

### Export Dataframes to CSV

In [155]:
houseplants.to_csv('../data/data_raw/houseplants.csv', index=False)

In [156]:
gardening.to_csv('../data/data_raw/gardening.csv', index=False)